@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #28042a 16.62%, #270248 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 24px;
}

.cabecalho-imagem {
  height: 72px;
}

.menu {
  display: flex;
  gap: 32px;
}

.menu-item {
  font-family: 'Sarala', sans-serif;
  color: #eeecf1;
  font-weight: 400;
  font-size: 18px
}
.menu-item:hover {
    transform: scale(1.2);
    height: 0.2;
  }
.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: rgb(232, 226, 235);
  opacity: 80%;
}
.conteudo-principal-escrito-titulo:hover {
 transform: scale(1.1);
}
.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #c0bec5;
}

.conteudo-principal-escrito-botao {
  background-color: #e5c4ec;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2F2325;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
  height: 350px;
  transform: scaleX(-1);
  opacity: 65%;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #FFF2EF;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #c0bec5;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}

.speech-balloon {
    position: absolute;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1; 
    display: none;
    top: 28%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-family: 'VT323', sans-serif;
  }
  .loginbutton{
  background-color: #e5c4ec;
  width: 70px;
  height: 50px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2F2325;
  position: absolute;
  left: 92%;
  top: 10px;
  }
.loginbutton:hover{
    transform: scale(1.1);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}