@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #023047
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(68.15deg, #28042a 16.62%, #270248 85.61%);
}

.formLogin {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
    color: #530780;;
}

.formLogin p {
    font-family: 'Inter', sans-serif;
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    font-family: 'Inter', sans-serif;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #f72585;
}

.formLogin label {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #530780;;
}

.formLogin a {
    font-family: 'Inter', sans-serif;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #530780;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #f72585;
}

.btn {
    font-family: 'Inter', sans-serif;
    background-color: #530780;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #9163cd;

}
.robot{
    position: absolute;
    top: 130px;
}
.speech-balloon {
    position: absolute;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1; 
    display: none;
    top: 28%;
    left: 24%;
    transform: translate(-50%, -50%);
    font-family: 'VT323', sans-serif;
    max-width: 200px;
  }
.robot-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 59px;
    left: 770px;
    transform: scaleX(-1);
}


